body {
    color: red;
    background: black;
}

header {
    border: solid 1px white;
    padding: 30px;
    font-size: 70px;
}

.chamada {
    background: black;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
}

div {
    .chamdada-texto{
        margin-right: 5%;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 500px;
    }
    
    .categoria-videos{
        color: blueviolet;
        display: flex;
        overflow-x: auto;
        gap: 30px;
    }
    .categoria{
        padding-left: 20px;
        padding-right: 20px;
    }
}