body {
    color: green;
    background: blueviolet

header {
    padding-left: 590px;
    font-size: 70px;
}

.chamada {
    background: green;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

div {
    .chamdada-texto{
        margin-right: 5%;
    }

    h1{
        color: aqua;
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 500px;
    }
    
    .categoria-videos{
        color: rgb(138, 43, 226);
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }
    .categoria{
        padding-left: 20px;
        padding-right: 20px;
    }

    .categoria-videos img:hover {
       opacity 1.0;
       border: 2px solid rgb(255, 255, 255);
    }

    .categoria h2 {
        color:rgb(66, 2, 150)
    } 
}