body {
    color: red;
    background: black;
}

header {
    border: solid 2px white;
    padding: 20px;
    font-size: 50px;
}

section {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}