body {
    color: rgb(4, 163, 97);
    background:rgb(66, 2, 150)t;
}

header {
    padding-left: 590px;
    font-size: 70px;
}

.chamada {
    background: rgb(66, 2, 150);
    padding-left: 590px;
    padding-right: 590px;
    justify-content: center;
}

div {
    .chamdada-texto{
        margin-right: 5%;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 500px;
    }
    
    .categoria-videos{
        color: rgb(138, 43, 226);
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }
    .categoria{
        padding-left: 20px;
        padding-right: 20px;
    }

    .categoria-videos img:hover {
       opacity 1.0;
       border: 1px solid green;
    }

    .categoria h2
    color: rgb(138, 43, 226);
}