body {
    color: black;
    background: blue;

header {
    padding-left: 590px;
    font-size: 70px;
}
   


.chamada {
    background: black;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

div {
    .chamdada-texto {
        margin-right: 5%;
    }

    h1{
        color: blue
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 500px;
    }
    
    .categoria-videos{
        color: blueviolet;
        display: flex;
        overflow-x: auto;
        gap: 20px;
    }
    .categoria{
        padding-left: 20px;
        padding-right: 20px;
    }

    .categoria-videos img:hover {
       opacity 1.0;
       border: 2px solid white;
    }

    .categoria h2 {
        color:blueviolet;
    } 
}