body {
    color: white;
    background: black;
    font-family: "Rubik Wet Paint", system-ui;
}

header {
    padding-left: 480px;
    padding-bottom: 100px;
    font-size: 70px;
    color:black;
    font-family: "Sixtyfour Convergence", sans-serif;

}
   


.chamada {
    background: black;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

div {
    .chamdada-texto {
        margin-right: 5%;
    }

    h1 {
        font-size: 40px;
    }


    h2{
        padding-top: 40px;
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 500px;
    }
    
    .categoria-videos{
        color: blueviolet;
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    .categoria{
        padding-left: 30px;
        padding-right: 30px;
    }

    .categoria-videos img:hover {
       opacity 1.0;
       border: 2px solid green;
    }

    .categoria h2 {
        color:blueviolet;
    } 
}