body {
    color: red;
    background: black;
}

header {
    border: solid 5px white;
    padding: 50px;
    font-size: 50px;
}

section {
    background: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    .chamdada-texto{
        margin-right: 5%;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }

    img{
        height: 200px;
    }
    
}